html,
body,
.app,
.app__layout {
  min-height: 100vh;
}

.app__wrapper {
  display: flex;
  align-content: stretch;
  justify-content: center;
}

.app__header {
  display: flex;
  padding: 0;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app__header h1 {
  color: #fff;
}

.app__logo {
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin: 7px 20px;
  background: url('assets/svg/logo.svg');
}

.app__info {
  margin: 0 20px;
  color: #27fc59;
  font-size: 36px;
  line-height: 64px;
  cursor: pointer;
}

.app__content {
  background: #fff;
  max-width: 800px;
  width: 100%;
  padding: 20px;
}

.app__footer {
  text-align: center;
}

.ant-confirm-body .ant-confirm-content {
  margin-left: 0;
  margin-top: 20px;
}

.app__modalContent * {
  line-height: 24px;
}

.app__modalContent h3 {
  margin: 6px 0;
}

@media (max-width: 320px) {
  .app__header {
    justify-content: center;
  }
}
