.form__results > * {
  margin-top: 10px;
}

.form__map {
  height: 400px;
  max-height: 100vh;
  position: relative;
  background: #eee;
}

.form__mapSpin {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
